*.log
.DS_Store
.env
.env.*
!.env.example
.env.backup
.env.production
.cpanel.deploy.env
.cpanel.deploy.env.env
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/.local-php-ext
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/backups
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
